@import "tailwindcss";

body{
  background-color: #fff;
  color: #000;
}
.primary{

background: linear-gradient(90deg, #BDF738 0%, #FDEE61 100%), linear-gradient(120deg, #C5F53D 52.12%, #EBF055 96.7%), #FFF;
box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
}